@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
  --soft-pink: #edc7b7;
  --lightest-pink: #eee2dc;
  --warm-violet: #bab2b5;
  --dark-imperial-blue: #123c69;
  --ruby: #ac3b61;
  --arcade: rgb(241, 240, 238);
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
html {
  color: rgb(24, 25, 28);
  height: 100%;
  background: var(--arcade);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P";
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  line-height: 1em;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}
#start {
  text-align: center;
}
p {
  text-align: center;
  font-family: "Press Start 2P";
}
#logbook {
  display: none;
}

.entry {
  text-align: center;
  font-family: "Press Start 2P";
  display: none;
}
body {
  height: 100%;
  margin: auto;
}
#welcome {
  padding-top: 50vh;
  height: 100vh;
  display: none;
}
#fname {
  font-size: 20px;
  width: fit-content;
  background-color: transparent;
  color: limegreen;
  line-height: 30px;
  height: 30px;
  outline: none;
  border: none;
  background-color: black;
  font-family: "Press Start 2P";
  margin-top: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#logbook {
  padding-top: 20px;
}
nav {
  text-align: center;
  padding-top: 42vh;
  height: 100vh;
}

.divisions {
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 10px;
  color: #3232fc;
}
a {
  text-decoration: none;
  color: blue;
  transition: all 500ms ease;
}
a:visited {
  color: blue;
}
a:hover {
  font-size: larger;
}
ul {
  list-style-type: none;
}
li {
  padding-bottom: 2em;
}
#homename {
  padding-bottom: 50px;
  font-family: "Asap", sans-serif;
  font-size: 60px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: -2.6px;
  text-align: center;
  color: #3232fc;
}
#portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding-top: 10vh;
}
#portfolio-container > a {
  display: block;
  position: relative;
  text-align: center;
  width: fit-content;
}

#codepen {
  height: 30px;
}
#social-icons {
  display: flex;
  width: 20vw;
  flex-direction: row;
  justify-content: space-around;
}
#linked {
  height: 30px;
}
#me-images {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-height: 300px;
  opacity: 0.1;
}
#me-images img {
  width: 100%;
  height: 100%;
}
.child {
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: ease 1s;
}
#maple {
  /* background: url(leaf.png) no-repeat center center fixed; */
}
.child:hover {
  border: 2px dashed rgb(255, 76, 77);
  left: 20px;
  transition: ease 1000ms;
  z-index: -2;
  opacity: 0.3;
  filter: drop-shadow(16px 16px 20px red) invert(75%);
}
.caption {
  font-family: sans-serif;
  color: black;
  font-weight: bold;
  display: inline-block;
  padding-top: 0.5em;
}

#portfolio {
  background: url(leaf.png) no-repeat center center fixed;
  height: max-content;
  color: #3232fc;
  z-index: -100;
}
#portfolio-container > a {
  z-index: 1;
}
#portfolio-container > a > p {
  font-size: 12px;
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  z-index: -1;
}
#about {
  height: 100vh;
  width: 80%;
  margin: auto;
}
#about-text {
  font-family: "VT323", monospace;
  display: inline;
  color: black;
  font-size: 1.5em;
  text-align: left;
  line-height: 1.5em;
}
#contact {
  background: url(tree.png) no-repeat center center fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact::after {
  opacity: 0.6;
}
.contact-form {
  color: #3232fc;
  width: 80vw;
}
#sprite-image {
  height: 70px;
  width: 34px;
  background: url("https://i.imgur.com/m1IQFaA.png") 0px 0px;
  float: right;
  margin-right: 20px;
}
#sprite-image2 {
  height: 70px;
  width: 34px;
  background: url("https://i.imgur.com/m1IQFaA.png") 0px 74px;
  float: right;
  margin-right: 20px;
}
.hidden-navbar {
  position: fixed;
  height: 4vh;
  bottom: 0vh;
  text-align: center;
  background-color: white;
  padding-top: 2vh;
}
#navbar {
  width: 100vw;
  justify-content: center;
  z-index: 100;
  text-align: center;
  background-color: white;
  padding-top: 2vh;
}
#navbar a {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: medium;
  color: #3232fc;
}
#navbar a:hover {
  font-size: larger;
}
.sticky {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(241, 240, 238);
}
#send {
  color: blue;
  background-color: white;
  margin-top: 20px;
  padding: 10px;
  width: 10vw;
  border-radius: 5px;
  border: 1px solid #edc7b7;
  -webkit-transition: ease 1s;
}

#send:hover {
  transition: ease 500ms;
  width: 20vw;
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  #about {
    width: 100%;
  }
}
/* Taken from w3 schools styling text areas */
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #edc7b7;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
label input {
  border: 1px solid #edc7b7;
  border-radius: 5px;
  height: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo {
  -webkit-transition: ease 0.3s;
}
.logo:hover {
  filter: contrast(200%);
  background-color: rgba(0, 0, 255, 0.2);
  border-radius: 4px;
  padding: 5px;
}
@keyframes screen-gameboy-text {
  0% {
    color: #f9e52e;
    background-position: -120px;
    opacity: 0;
  }
  13.9% {
    opacity: 0;
  }
  14% {
    color: #f9e52e;
    background-position: -120px;
    opacity: 1;
  }
  16.5% {
    color: #f9e52e;
  }
  17% {
    color: #ff0151;
  }
  19.5% {
    color: #ff0151;
  }
  20% {
    color: #ff52e8;
  }
  22.5% {
    color: #ff52e8;
  }
  23% {
    color: #85e367;
  }
  25.5% {
    color: #85e367;
  }
  28% {
    color: #3232fc;
  }
  28% {
    background-position: 130px;
  }
  37% {
    opacity: 1;
  }
  42% {
    opacity: 1;
  }
}
.screen-gameboy-text {
  position: relative;
  font-family: "Asap", sans-serif;
  font-size: 60px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: -2.6px;
  text-align: center;
  opacity: 1;
  width: 520px;
  -webkit-transform: skew(-5deg);
  transform: skew(-5deg);
  overflow: hidden;
  white-space: nowrap;
  z-index: 16;
  color: #3232fc;
  background: -webkit-linear-gradient(
    0deg,
    #3232fc 45%,
    #85e367 45%,
    #85e367 50%,
    #ff52e8 50%,
    #ff52e8 55%,
    #ff0151 55%,
    #ff0151 60%,
    #f9e52e 60%,
    #f9e52e 65%,
    #f0f0f0 65%
  );
  background-position: 130px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: screen-gameboy-text 8s linear;
  animation: screen-gameboy-text 8s linear;
}
