@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
:root {
  --soft-pink: #edc7b7;
  --lightest-pink: #eee2dc;
  --warm-violet: #bab2b5;
  --dark-imperial-blue: #123c69;
  --ruby: #ac3b61;
}
html {
  height: 100%;
  background: var(--lightest-pink);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Press Start 2P", cursive;
  text-align: center;
}
p {
  text-align: center;
  font-family: "Press Start 2P";
  display: none;
}
.entry {
  text-align: center;
  font-family: "Press Start 2P";
  display: none;
}
#name {
  line-height: 50px;
}
#welcome {
  display: none;
}
