
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
:root {
  --soft-pink: #edc7b7;
  --lightest-pink: #eee2dc;
  --warm-violet: #bab2b5;
  --dark-imperial-blue: #123c69;
  --ruby: #ac3b61;
}
input:focus, textarea:focus, select:focus{
  outline: none;
}
html {
  height: 100%;
  background: var(--lightest-pink);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P";
  scroll-behavior: smooth;
}

h1 {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  margin-top: 50vh;
}
#start{
  text-align: center;
}
p {
  text-align: center;
  font-family: "Press Start 2P";
  display: none;
}

.entry {
  text-align: center;
  font-family: "Press Start 2P";
  display: none;
}
body{
  height: 100%;
  margin: auto;
}
#name {
  line-height: 50px;
}
#welcome {
  display: none;
}
#fname{
  font-size: 20px;
  width: fit-content;
  background-color: transparent;
  color: limegreen;
  line-height: 30px;
  height: 30px;
  outline:none;
  border: none;
  background-color:black;
  font-family:"Press Start 2P";
  margin-top:20px;
  padding:5px;
  padding-left: 10px;
  padding-right: 10px;
}

#logbook{
  padding-top: 20px;
}
nav{
  text-align: center;
  padding-top: 42vh;
  height: 100vh;
}

.divisions{
  height:100vh;
  width: 90vw;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 10px;
}
a{
  text-decoration: none;
  color: blue;
  transition: all 500ms ease;
}
a:visited{
  color: blue;
}
a:hover{
  font-size: larger;
}
ul{
  list-style-type: none;
}
li{
  padding-bottom: 2em;
}
#homename{
  padding-bottom: 50px;
}
#portfolio-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.child{
  margin:5px;
  border-radius: 5px;
  text-decoration: none;
}

.child:hover{
  border: 4px solid cadetblue;
  
  
}
.caption {
  font-family: sans-serif;
  color: black;
  font-weight: bold;
  display: inline-block;
  padding-top: .5em;
}